n8n-workflows/complete/daily-analytics-report.json
{
  "name": "Daily Analytics Report - Complete Automation",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9,
              "minute": 0
            }
          ]
        }
      },
      "id": "s1c2h3e4-d5u6-l7e8-t9r0-i1g2g3e4r5n6",
      "name": "Daily 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://mundotango.life/api/analytics/daily-stats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$credentials.apiKey}}"
            }
          ]
        },
        "options": {}
      },
      "id": "g1e2t3s4-t5a6-t7s8-a9p0-i1r2e3q4u5e6",
      "name": "Get Daily Statistics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://mundotango.life/api/users/active-today",
        "options": {}
      },
      "id": "g1e2t3u4-s5e6-r7s8-l9i0-s1t2a3c4t5i6",
      "name": "Get Active Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://mundotango.life/api/posts/trending",
        "options": {}
      },
      "id": "g1e2t3t4-r5e6-n7d8-i9n0-g1p2o3s4t5s6",
      "name": "Get Trending Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "m1e2r3g4-e5d6-a7t8-a9s0-o1u2r3c4e5s6",
      "name": "Merge Analytics Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "functionCode": "const stats = $input.first().json;\nconst date = new Date();\nconst formattedDate = date.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 20px; }\n    .container { background: white; border-radius: 10px; padding: 30px; max-width: 600px; margin: 0 auto; }\n    h1 { color: #333; border-bottom: 3px solid #667eea; padding-bottom: 10px; }\n    .metric { display: flex; justify-content: space-between; padding: 15px; margin: 10px 0; background: #f8f9fa; border-radius: 5px; }\n    .metric-label { font-weight: bold; color: #555; }\n    .metric-value { color: #667eea; font-size: 1.2em; }\n    .highlight { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 15px; border-radius: 5px; margin: 20px 0; }\n    .trending { background: #fff3cd; border-left: 4px solid #ffc107; padding: 10px; margin: 10px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>📊 Daily Analytics Report</h1>\n    <p style=\"color: #666;\">${formattedDate}</p>\n    \n    <div class=\"highlight\">\n      <h2 style=\"margin: 0;\">Today's Highlights</h2>\n      <p style=\"margin: 5px 0;\">Platform performing at ${stats.performanceScore || 95}% capacity</p>\n    </div>\n    \n    <h2>📈 Key Metrics</h2>\n    <div class=\"metric\">\n      <span class=\"metric-label\">Total Users</span>\n      <span class=\"metric-value\">${stats.totalUsers || 0}</span>\n    </div>\n    <div class=\"metric\">\n      <span class=\"metric-label\">New Users Today</span>\n      <span class=\"metric-value\">+${stats.newUsers || 0}</span>\n    </div>\n    <div class=\"metric\">\n      <span class=\"metric-label\">Active Users</span>\n      <span class=\"metric-value\">${stats.activeUsers || 0}</span>\n    </div>\n    <div class=\"metric\">\n      <span class=\"metric-label\">Total Posts</span>\n      <span class=\"metric-value\">${stats.totalPosts || 0}</span>\n    </div>\n    <div class=\"metric\">\n      <span class=\"metric-label\">Engagement Rate</span>\n      <span class=\"metric-value\">${stats.engagementRate || 0}%</span>\n    </div>\n    \n    <h2>🔥 Trending Content</h2>\n    <div class=\"trending\">\n      <strong>Top Communities:</strong> ${stats.topCommunities ? stats.topCommunities.join(', ') : 'Buenos Aires, New York, Paris'}\n    </div>\n    <div class=\"trending\">\n      <strong>Popular Tags:</strong> ${stats.popularTags ? stats.popularTags.join(', ') : '#milonga #technique #performance'}\n    </div>\n    \n    <p style=\"margin-top: 30px; padding-top: 20px; border-top: 1px solid #ddd; color: #666; font-size: 0.9em;\">\n      This is an automated report from Mundo Tango Analytics.<br>\n      For detailed insights, visit your <a href=\"https://mundotango.life/admin/analytics\">Admin Dashboard</a>\n    </p>\n  </div>\n</body>\n</html>`;\n\nreturn [\n  {\n    json: {\n      html,\n      stats,\n      date: formattedDate,\n      subject: `Daily Analytics Report - ${formattedDate}`,\n      summary: `Users: ${stats.totalUsers || 0} | Active: ${stats.activeUsers || 0} | Engagement: ${stats.engagementRate || 0}%`\n    }\n  }\n];"
      },
      "id": "f1o2r3m4-a5t6-h7t8-m9l0-r1e2p3o4r5t6",
      "name": "Format HTML Report",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "fromEmail": "analytics@mundotango.life",
        "toEmail": "admin@mundotango.life,team@mundotango.life",
        "subject": "={{$json[\"subject\"]}}",
        "html": "={{$json[\"html\"]}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "e1m2a3i4-l5r6-e7p8-o9r0-t1d2a3i4l5y6",
      "name": "Email Report to Admin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "channel": "#daily-reports",
        "text": "📊 *Daily Analytics Report*\n{{$json[\"date\"]}}\n\n{{$json[\"summary\"]}}\n\nView full report in your email or <https://mundotango.life/admin/analytics|Admin Dashboard>",
        "attachments": [],
        "otherOptions": {}
      },
      "id": "s1l2a3c4-k5n6-o7t8-i9f0-y1r2e3p4o5r6",
      "name": "Notify Slack Channel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 500],
      "credentials": {
        "slackApi": {
          "id": "{{SLACK_CREDENTIALS_ID}}",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mundotango.life/api/reports/archive",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({date: $json[\"date\"], stats: $json[\"stats\"], timestamp: new Date().toISOString()})}}"
      },
      "id": "a1r2c3h4-i5v6-e7r8-e9p0-o1r2t3d4a5t6",
      "name": "Archive Report Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Daily 9AM Trigger": {
      "main": [
        [
          {
            "node": "Get Daily Statistics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Active Users",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Trending Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Statistics": {
      "main": [
        [
          {
            "node": "Merge Analytics Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Users": {
      "main": [
        [
          {
            "node": "Merge Analytics Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Trending Posts": {
      "main": [
        [
          {
            "node": "Merge Analytics Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Analytics Data": {
      "main": [
        [
          {
            "node": "Format HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format HTML Report": {
      "main": [
        [
          {
            "node": "Email Report to Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Slack Channel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Archive Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "executionTimeout": 300,
    "timezone": "America/New_York"
  },
  "versionId": "analytics-v1",
  "id": "wfJ4u9YQBHDS8g3p",
  "tags": []
}